html {
  background-color: rgb(36, 38, 72);
  font-size: 20px;
}

h1 {
  color: rgb(247, 171, 57);
  margin-left: 20px;
}

p {
  color: rgb(198, 168, 129);
  margin-left: 20px;
}

li {
  color: rgb(215, 171, 145);
  margin-left: 20px;
  list-style-type: inherit;
}

li.special {
  color: aqua;
  font-weight: bold;
  list-style-type: georgian;
}

li em {
  color: green;
  font-weight: bold;
  font-size: larger;
}

a {
  color: rgb(152, 77, 223);
}

em {
  color: rgb(229, 53, 53);
}